#page-popular-track {
    padding: 100px 0;
}

.column-2 {
    column-count: 2;
    column-gap: 50px;
    margin-top: 48px;
}

.popular-track {
    display: flex;
    width: 551px;
    margin-bottom: 25px;
}

.img-track {
    width: 55px;
    height: 55px;

    margin-right: 15px;
}

@media (max-width: 414px) {
    .column-2 {
        column-count: 1;
}
}