@import "./variables";

@font-face {
    font-weight: 400;
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-weight: 700;
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $dark-gray;
  background: $black;
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 1240px) {
  .container {
    max-width: 1200px;

    @media (max-width: $desktop) {
      margin-right: 20px;
      margin-left: 20px;
    }
  }

   h1 {
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
  font-weight: bold;
  }

   h2 {
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
  font-weight: bold;
  }
}


@media (max-width: 414px) {
  .container {
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
  }
 h1 {
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
  font-weight: bold;
  }

  h2 {
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
  font-weight: bold;
 }
}

.mb {
  margin-bottom: 16px;
}

.mt {
  margin-top: 48px;
}

.text-center{ 
  text-align: center;
}

.text-left { 
  text-align: left;
}

.mr {  
  margin-right: 24px;
}

.color-green {
  background-color: $green;
}

.mr-top {
  margin-top: 31px;
 }

 .text-gray {
  color: $gray;
 }

 .text-white {
  color: $white
 }

 .mr-right {
  margin-right: 16px;
}

.mr-bottom {
margin-bottom: 65px;
}

.bottom-25 {
  margin-bottom: 25px;
}

.text-transform {
  text-transform: uppercase;
}